@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/**********************************TAGS***********************************/
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;    
}

img{
    height: 200px;
    width: 200px;
    margin:10px;
}

input[type="text"] {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 30px;
    width: 50vw;
    border-radius: 2%;
    outline: 0ch;
    background-color: white;

}

select {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 20px;
    width: 5vw;
    border-radius: 5%;
    outline: 0ch;
    background-color: white;
    padding-left: 5px;
    border-radius: 8%;

}



/**********************************ID***********************************/

#multi-vitamin-img{
    height: 250px;
    width: 250px;
}

#amazon{
    width: 8vw;
    height: 5vh;
    padding-top: 12px;
    padding-right: 15px;
    margin-left: 10px;
}

#nav-hello{
    color: rgb(154, 153, 153);
    font-size: 13px;
    font-weight: bold;
}

#nav-add{
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

/**********************************CLASS***********************************/

h1{
    background-color: rgb(241, 192, 129);
    margin: 0%;
    padding: 20px;
}

.nav.navigation-clone {
    margin-top: 0;
}


.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 0px;
}

.nav-anchor{
    background-color: rgb(0, 0, 0);
    margin: 10px;
    color: white;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

header{
    position: sticky;
    top: 0;
}


.nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    margin: 0px;
    padding: 10px;
    height: 5vh;
    width: 100%;
    display: flex;
    position: sticky;
    margin-top: 0%;
}

.nav1{
    /* background-color: azure; */
    background-color: rgb(0, 0, 0);
    color: orange;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

.nav-address{
    color: white;
    font-size: 12px;
    width: 20vw;
    width: 15vw;
}

.nav-search{
    padding-bottom: 20px;
}

.search-input{
    /* margin-left: 20px; */
    height: 5vh;
    width: 10vw;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    color: black;
}

.nav2{
    background-color: antiquewhite;
    background-color: rgb(0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    padding: 10px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 18px;
    letter-spacing: 1px;
    width: 30vw;
    padding-right: 50px;
    
}



.main-div{
    margin:10px;
}

.div-1{
    /* background-color: rgb(255, 0, 115); */
    display: flex;
    align-items: center;
    /* border-style: solid ;
    border-width: thin; */
}

.image-1{
    /* background-color: rgb(114, 14, 14); */
    margin: 10px;
    height: 50px;
    width: 20vw;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.description-1{
    /* background-color: rgb(23, 188, 188); */
    margin: 10px;
    height: 200px;
    width: 75vw;
    padding: 10px;
    font-size:18px;
    line-height: 1.8;
}

.deal{
    background-color: red;
    color: white;
    display: flex;
    width: 10vw;
    height: 3vh;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;

}